// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 4rem 40rem 4rem 3rem;
}

.banner h1 {
  margin-bottom: 1rem;
  color: #212121;
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  margin-bottom: 1rem;
  font-size: 17px;
  color: #313131;
}

.section {
  margin: 2rem 0;
}

.box-text {
  padding-right: 2rem;
}

#register-background {
  background-size: cover;
  background-position: center;
  height: 20rem;
}

.box {
  padding: 2rem ;
  // TODO: center in mobile
}

.box p {
  padding: 1rem 0;
}


@media screen and (min-width: 768px) {
  #register-background {
    background-size: cover;
    background-position: center;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: auto;
  }

  .box {
    padding: 3rem 12% 3rem 5rem;
  }
}
