<div class="banner" style="background-image: url(https://serving.photos.photobox.com/529102750050c55143df172e466378ca9ccdf9364654f324a9a607b72bae3ad21e6e6439.jpg)">
  <div class="section mt-4" >
    <h1>Start bribing</h1>
    <p>Are you looking for someone who can forward your endeavours to gain more power?
       Find the perfect <strong>politician</strong> to ruthlessly crush your enemies through
       legal policies and reckless sanctioning!</p>

    <%= link_to "Look for politicians", politicians_path, class: "btn-gray-square" %>
  </div>
</div>


<div class="section text-center">
  <%# <h2>See how we work</h2> %>
  <div class="row text-center mt-4">
    <div class="col-12 col-md-4 box-text">
      <h3>1. Find your favourite politician</h3>
      <p>Who is your favorite politician and why do you like him/her?
         Choose a person who acts in a manipulative and devious way,
         typically to gain advancement within an organization.</p>
    </div>
    <div class="col-12 col-md-4 box-text">
      <h3>2. Specify the time</h3>
      <p>Choose a determined date in accordance with what you need.
         Do not worry, you can change it anytime.</p>
    </div>
        <div class="col-12 col-md-4 box-text">
      <h3>3. Book right away</h3>
      <p>Congratulation, you just booked your first politician!
         Now it is time to make more money from that.
         You can check all details in your confirmation page.
      </p>
    </div>
  </div>
</div>
  <br>



<div class="row">
    <div id="register-background" class="col-12 col-md-6" style="background-image: url(https://images.unsplash.com/photo-1568378814482-f3c60866fc6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1676&q=80)">
    </div>
  <div class="col-12 col-md-6 box">
      <h2>Register now to start your bribing journey!</h2>
      <p>We make it easy for you to bribe. Book your favorite politician and gain more power.
      To starting renting, just create an account in our website and make your first bribe.
      Easy peasy lemon squeezy.</p>
      <%= link_to "Sign up now", new_user_registration_path, class: "btn-gray" %>
  </div>
</div>
