.btn-gray {
  background-color: #444444;
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid #444444;
  border-radius: 40px;
  transition: 0.3s;
}

.btn-gray:hover {
  background-color: #fff;
  color: #444444;
}
